<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Ticket')}" />

<body>

    <header>
        <nav th:replace="~{fragments/navbar :: navbar}" />
    </header>

    <main class="container mt-3">
        <section class="d-flex justify-content-between" th:object="${ticket}">

            <!-- titolo pagina -->

            <div class="title d-flex align-items-center">

                <h1 class="fw-bold">Ticket numero [[*{id}]]</h1>

            </div>

            <div class="d-flex justify-content-center p-2">
                <a class="btn btn-primary" th:href="@{/operators/{id} (id = ${ticket.user.id})}">
                    Torna indietro
                </a>
            </div>

        </section>



        <div class="card text-center" th:object="${ticket}">
            <div class="card-header">
                [[*{name}]]
            </div>
            <div class="card-body">

                <div class="d-flex justify-content-center mb-3">
                    <div th:each="category : *{categories}">
                        <span class="badge rounded-pill text-bg-dark m-1">[[${category.name}]]</span>
                    </div>
                </div>

                <h5 class="card-title">Descrizione</h5>
                <p class="card-text">[[*{description}]]</p>

            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-evenly align-items-center">
                <p class="d-flex justify-content-center align-items-center m-0">[[*{user.username}]]</p>
                <p class="d-flex justify-content-center align-items-center m-0">[[*{status}]]</p>
            </div>
        </div>

        <!-- creazione nuova nota -->

        <form th:action="@{/operators/answer/{id} (id = ${ticket.id})}" method="post">
            <div class="card my-3">
                <div class="card-header">
                    Aggiungi una nuova nota
                </div>
                <div class="card-body">
                    
                    <h5 class="card-title">Testo della nota</h5>

                    <div class="form-floating my-3">

                        <textarea class="form-control" placeholder="Leave a comment here" style="height: 150px" th:field="${newNote.text}"></textarea>
                        
                    </div>

                    <div class="d-flex justify-content-evenly">

                        <button type="submit" class="btn btn-primary">Crea</button>
                        <button type="reset" class="btn btn-primary">Reset</button>

                    </div>
                </div>
            </div>

        </form>

        <div class="card mt-3" th:if="${notes.size() > 0}">
            <div class="card-header">
                nota numero in data
            </div>
            <div class="card-body">
                <figure>
                    <p>risposta</p>
                </figure>
            </div>
        </div>

    </main>

    <footer th:replace="~{fragments/footer :: footer}" />

    <script th:replace="~{fragments/footer :: scripts}" />

</body>

</html>