<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Lista tickets operatore')}" />

<body>

    <header>
        <nav th:replace="~{fragments/navbar :: navbar}" />
    </header>

    <main class="container mt-3 p-0">

        <section class="d-flex justify-content-between">

            <!-- titolo pagina -->

            <div class="title d-flex align-items-center">

                <h1 class="fw-bold">Lista ticket di [[${user.username}]]</h1>

            </div>

            <!-- barra di ricerca del ticket -->

            <div class="d-flex justify-content-center p-2">
                <form method="GET"  class="d-flex">
                    <input type="search" name="keyword" placeholder="Cerca" class="form-control me-1">
                    <button type="submit" class="btn btn-outline-primary">Cerca</button>
                </form>
            </div>

        </section>

        <section class="d-flex justify-content-center m-3">

            <div class="d-flex">

                <label for="user" class="form-label mx-2">Seleziona il tuo stato</label>
                <select class="form-select mx-2" required>
                    <option value="">lo statooooooooooooooooooo</option>
                    <option>
                    </option>
                </select>

            </div>

        </section>

        <section class="ticket-list">

            <table class="table" th:if="${tickets.size() > 0}">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Stato</th>
                        <th scope="col">Azioni</th>
                    </tr>
                </thead>

                <tbody>

                    <tr th:each="ticket : ${tickets}" th:object="${ticket}">
                        <th scope="col">[[*{id}]]</th>
                        <th scope="col">[[*{name}]]</th>
                        <th scope="col">
                            <div class="d-flex">
                                <div th:each="category : *{categories}">
                                    <span class="badge rounded-pill text-bg-dark m-1">[[${category.name}]]</span>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="d-flex">
                            <div class="mx-2">
                             <p>[[*{status}]]</p>
                            </div>
                            <div class="mx-2">
                                <a th:href="@{|/operators/changer/*{id}|}" class="btn btn-primary btn-sm">Cambia</a>
                            </div>
                        </th>
                        <th scope="col">

                            <a th:href="@{|/operators/answer/*{id}|}" class="btn btn-primary btn-sm">Rispondi</a>

                        </th>
                    </tr>
                </tbody>

            </table>

            <h3 class="text-center" th:unless="${tickets.size() > 0}">

                Non ci sono ticket, creane uno nuovo

            </h3>

    </main>


    </section>

    <footer th:replace="~{fragments/footer :: footer}" />

    <script th:replace="~{fragments/footer :: scripts}" />

</body>

</html>